dask
fiona
geopandas
h5netcdf
libgdal-hdf5 
importlib-resources
jupyterlab
matplotlib
netcdf4
numpy
pandas
rasterio
rasterstats==0.19.0
rioxarray
shapely
scikit-image
scikit-learn
xarray==2023.12.0
